# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
**/android/app/debug
**/android/app/profile
**/android/app/release

# Built application files
*.apk
*.aab
*.ipa

# Android folders
**/android/app/
**/android/.gradle/
**/android/app/build/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/gradle-wrapper.jar
**/android/local.properties

# iOS folders
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/engine/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.xcframework
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*

# Web related
**/web/main.dart.js
**/web/main.dart.js.map

# macOS folders
**/macos/Flutter/ephemeral/
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/Flutter.xcframework
**/macos/Pods/
**/macos/Runner/GeneratedPluginRegistrant.*

# Windows folders
**/windows/Flutter/ephemeral/
**/windows/Flutter/Flutter.podspec
**/windows/Flutter/Flutter.xcframework
**/windows/Runner/GeneratedPluginRegistrant.*

# Linux folders
**/linux/flutter/ephemeral/
**/linux/runner/GeneratedPluginRegistrant.*

# Dart related
.dart_tool/
.packages
.pub/
build/
